
:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
    --color-neutral-50: #01fffb;
}


*{
    padding: 0;
    margin: 0;
    font-family: 'josefin Sans' , sans-serif;
    text-decoration: none;   
}
body{
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #242424;
}
header{
    position: sticky;
    top: 0; left: 0; right: 0;
    padding: 0px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: linear-gradient(45deg, #300303, #07002a, #000000);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}

header .logo{
    font-weight: bolder;
    font-size: 200%;
    color: var(--color-neutral-40);
    cursor: pointer;
}
.logop{
    color: white;
    margin-top: 2px;
    font-size: 16px;
    text-align: center;
    
}

header .navbar ul{
  list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 30px;
    color: var(--color-neutral-40);
    display: block;
}

header .navbar ul li a:hover{
    background-color: #006c7c;
    color: rgb(255, 255, 255);
    transition: 1s;
}
span{
    color: var(--color-neutral-50);
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #000000db;
    display: none;
}
header .navbar ul li ul a:hover{
    background-color: #006c7c;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.167);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul ,

header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
}


@media(max-width:991px){
    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: var(--color-neutral-10);
        border-top: 1px solid rgba(0, 0, 0, 0.219);
        display: none;
    }

    header .navbar ul li{
        width: 100%;

    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: var(--color-neutral-10);
    }


    header .navbar ul li ul a:hover{
        background-color: var(--color-neutral-50);
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0%;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}

/* ---------------------------- MAIN CONTEUDO INDEX ---------------------------------------------*/




.content{
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%, -50%);
}

.imag{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);

}
.img{
   width: 750px;
   height: 600px;
}

.portada{
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #300303, #07002a, #000000);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}


@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.content h4{
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.content h1{
    font-size: 50px;
    color: #ffffff;
    margin: 30px 0px;
}
.content h3{
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
}

.content a{
    position: absolute;
    display: block;
    background-color: #0091a8;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
}


.about{
    width: 100%;
    height: 70vh;
    width: 100%;
    padding: 100px 0px;
    background: linear-gradient(45deg, #020006, #130101, #001f1c, #04002bda);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}

.about img{
    width: 500px;
    height: 600px;
}
.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    letter-spacing: 2px;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    font-size: 23px;
    margin-bottom: 45px;
}

button{
    background-color: #088cce;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid #01fffb;
    cursor: pointer;
}


.card-automacoes{
    height: 390px;
    width: 335px;
    padding: 15px 10px;
    background-color: #0e0c0c;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(45deg, #020006, #130101, #001f1c, #04002b21);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}

.card-automacoes i{
    font-size: 35px;
    display: block;
    text-align: center;
    margin: 10px 0px;
    color: #01fffb;
}

.card-automacoes h5{
    color: white;
    font-size: 26px;
    margin-bottom: 15px;
}

.card-automacoes .button{
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;  
}

.card-automacoes a:hover{
    background-color: transparent;
    border: 2px solid #01fffb;
    cursor: pointer;
}


.title h2{
    color: rgb(255, 255, 255);
    background-color: #0000008b;
    display: inline-block;
    padding: 5px;
    font-size: 75px;
    border-radius: 5px;
    position: absolute;

    top: 7%;
    left: 50%;

    transform: translate(-50%, -50%);
}


.mainautomacion{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(45deg, #300303, #07002a, #000000);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}

.container-foto-aut{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mas{
    display: none;
}

.profit{
    display: block;
    color: #ffee00;
}


.pra p{
color: #c5c5c5;
font-size: 16px;
line-height: 23px;
margin-bottom: 20px;
}


.buttonC{
    background-color: #0091a8;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 22px;
    border-radius: 30px;
    transition: .4s; 
    width: 45%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes flutuaçao {
    50%, 50%{
      transform: translateY(2px);
    }
    50%{
      transform: translateY(-2px);
    }
  }


  /*----------------- RESWPONSIVO----------------------------------------*/
  @media screen and (max-width:1285px) {

    .content h4{
        font-size: 23px;
    }
    .content h1{
        font-size: 50px;
        margin: 30px 0px;
    }
    .content h3{
        font-size: 20px;
    }
    
    .imag{
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
    
    }
    .img{
       width: 600px;
       height: 450px;
    }

.card-automacoes{
    height: 390px;
    width: 335px;
    padding: 10px 25px;
    border-radius: 20px;
    margin: 10px;
}

.card-automacoes i{
    font-size: 30px;
    margin: 10px 0px;
}

.pra p{
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
    }
.card{
    height: 420px;
    width: 335px;
    padding: 10px 25px;
    border-radius: 20px;
    margin: 10px;
}

.card i{
    font-size: 30px;
    margin: 10px 0px;
}

}

 @media screen and (max-width:1205px) {

    .content h4{
        font-size: 20px;
    }
    .content h1{
        font-size: 45px;
        margin: 30px 0px;
    }
    .content h3{
        font-size: 20px;
    }
    
    .imag{
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
    
    }
    .img{
       width: 600px;
       height: 450px;
    }
}


@media screen and (max-width:1092px) {

    .content h4 {
        font-size: 18px;
    }
    .content h1{
        font-size: 45px;
        margin: 30px 0px;
    }
    .content h3{
        font-size: 15px;
    }
    
    .imag{
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
    
    }
    .img{
       width: 500px;
       height: 400px;
    }
}



 @media screen and (max-width:968px) {
    .content h4{
        font-size: 16px;
    }
    .content h1{
        font-size: 45px;
        margin: 30px 0px;
    }
    .content h3{
        font-size: 15px;
    }

        
    .imag{
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
    
    }
    .img{
       width: 450px;
       height: 350px;
    }

    
    .about{
    width: 100%;
    height: 70vh;
    width: 100%;
    padding: 50px 0px;
}

.about img{
    width: 400px;
    height: 500px;
}
.about-text{
    width: 400px;
}
.main h2{
    font-size: 40px;
}
   
    
}


@media screen and (max-width:926px) {
    .title h2{
        font-size: 60px;
        width: 600px;
        border-radius: 5px;
        margin: 25px auto;
    }

    .about img{
        width: 380px;
        height: 500px;
    }
    
    .about-text{
        width: 450px;
    }

    .pra p{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .imag{
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
    
    }
    .img{
       width: 450px;
       height: 350px;
    }



}


@media screen and (max-width:865px) {
    .container{
        width: 80%;
        margin: 0 auto;

        background-color: var(--color-neutral-0);
        border-radius: 20px;
        box-shadow: 2px 2px 10px #01fffb;
    }

}

    @media screen and (max-width:819px) {

        .content h4 {
            font-size: 14px;
        }
        .content h1{
            font-size: 35px;
            margin: 30px 0px;
        }
        .content h3{
            font-size: 15px;
        }
        
        .imag{
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
        
        }
        .img{
           width: 450px;
           height: 350px;
        }
    }


/*  fiM INDEX ------------------*/

/*  INICIO BAR ------------------*/

@media screen and (max-width:805px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item{
        display: none;
    }

    .login-button{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;  
     }

     .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
     }

    .mobile-menu .login-button{
      display: block;
      padding: 1rem 2rem;  
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open{
        display: block;
    }

    .box1{
        width: 100%;
            display: flex;
            justify-content: space-evenly;
           flex-wrap: wrap;          
    }

    .box2{
        width: 100%;
            display: flex;
            justify-content: space-evenly;
           flex-wrap: wrap;         
    }

    .pra p{
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 20px;
    }

    .content{
        position: absolute;
        top: 75%;
        left: 6%;
        transform: translateY(-50%);    
    }
    
    .imag{
        position: absolute;
        top: 40%;
        left: 60%;
        transform: translate(-50%, -50%);    
    }

    .img{
       width: 500px;
       height: 400px;
    }

    .about img{
        width: 350px;
        height: 300px;
    }

    .about-text{
        width: 350px;
    }
    .about-text p{
        font-size: 16px;        
    }    
}



@media screen and (max-width:627px) {
    .content{
        position: absolute;
        top: 78%;
        left: 6%;
        transform: translateY(-50%);  
    }
    .imag{
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img{
       width: 420px;
       height: 320px;
    }
    .about img{
        width: 350px;
        height: 300px;
    }
    .about-text{
        width: 350px;
    }
    .about-text p{
        font-size: 16px;        
    }
    .title-automacoes > h2{
        font-size: 50px;
        width: 350px;
    }
    .title > h2{
        font-size: 50px;
        width: 350px;
    }
    .about{
        position: relative;
        height: 80vh;
    }

    .about img{
        width: 300px;
        height: 250px;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .about-text{
        width: 400px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .about-text > h2{
        font-size: 20px; 
    }    
}



.container-contrato{
   max-width: 700px;
   padding: 40px;
   background-image: url(/imagenes/Imagem\ do\ WhatsApp\ de\ 2023-03-14\ à\(s\)\ 13.53.28.jpg);
   background-size: 100%;
   background-repeat: repeat-y;
}
.container-contrato > p{
    font-size: 14px;
    font-family: sans-serif;
    color: #151313;
}
.container-contrato{
    border: none;
}
.container-contrato a{
    text-decoration: underline;
    color: #260080;
}

.parrafo{
    font-size: 1rem;
    text-decoration: underline;
    font-weight: 400;
}

.clausula{
    font-size: 1.2rem;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}
.iden{
    margin-left: 20px;
}

footer {
    background: linear-gradient(45deg, #300303, #07002a, #000000);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}

footer .container-footer{
    padding: 20px;
    display: flex;
    color: white;
}

footer .container-footer ul{
    text-align: center;
    width: 25%;
}


footer .container-footer h3{
    cursor: pointer;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
    
}

footer .redes-footer {
    display: flex;
    gap: 2rem;
}

footer .redes-footer .footer-link{
    padding: 5px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    transition:all 0.4s;
    font-size: 1.5rem;
}
.footer-link:hover{
    opacity: 0.8;
}

footer .container-footer ul > p{
    text-align: left;
    margin-bottom: 40px;
    line-height: 18px;
}

footer .container-footer li{
    list-style-type: none;
    margin: 10px 0;
}

footer .container-footer a{
    color: #b8b8b8;
    font-size: 20px;
}
footer .container-footer a:hover{
    color: #01fffb;

}



@media screen and (max-width: 768px) {
    footer .container-footer{
        flex-direction: column;
        text-align: center;
    }
    footer .container-footer ul{
        width: 100%;
        margin-bottom: 30px;
    } 
}
@media screen and (max-width: 428px) {
    footer .container-footer{
        flex-direction: column;
        text-align: center;
    }
    footer .container-footer ul{
        width: 100%;
        margin-bottom: 30px;
    }
    .imag{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
    .img{
       width: 320px;
       height: 250px;
    }
    
.content{
    position: absolute;
    top: 90%;
    left: 6%;
    transform: translateY(-50%, -50%);
}
.about img{
    width: 300px;
    height: 280px;
}
.about-text{
    width: 350px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.about-text h5{
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 8px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 0px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px;
    text-align: left;
}

button{
    background-color: #088cce;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid #01fffb;
    cursor: pointer;
}

.card-automacoes{
    height: 410px;
    width: 350px;
    padding: 10px 10px;
    border-radius: 20px;
    margin: 10px;
  
}

.card-automacoes i{
    font-size: 25px;
    margin: 8px 0px;

}
.pra p{
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 15px;
    text-align: left;
    }

    
.content h4{
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.content h1{
    font-size: 27px;
    color: #ffffff;
    margin: 10px 0px;
}
.content h3{
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}
footer .container-footer h3{
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    
}

}



#footer-copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    color: white;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}


#whatsapp{
    background-color: #25d366;
    color: white;
}
#facebook{
    background-color: #4267b3;
    color: white;
}
#instagram{
    background: linear-gradient(#7f377f, #ff2992, #ff9807);
    color: white;
}



.mainautomacion{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(45deg, #300303, #07002a, #000000);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}

.container-foto-aut{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

