

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
    --color-neutral-50: #01fffb;
}


*{
    padding: 0;
    margin: 0;
    font-family: 'josefin Sans' , sans-serif;
    text-decoration: none;

    
}
body{
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #242424;
}

header{
    position: sticky;
    top: 0; left: 0; right: 0;
    padding: 0px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: linear-gradient(45deg, #300303, #07002a, #000000);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}

header .logo{
    font-weight: bolder;
    font-size: 200%;
    color: var(--color-neutral-40);
    cursor: pointer;
}

header .navbar ul{
  list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}


header .navbar ul li a{
    font-size: 20px;
    padding: 30px;
    color: var(--color-neutral-40);
    display: block;
}



header .navbar ul li a:hover{
    background-color: var(--color-neutral-50);
    color: rgb(255, 255, 255);
    transition: 1s;
}
span{
    color: var(--color-neutral-50);
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #000000db;
    display: none;
}

header .navbar ul li ul a:hover{
    background-color: var(--color-neutral-50);
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.167);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul ,

header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: white;
    cursor: pointer;
    display: none;
}


@media(max-width:991px){
    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: var(--color-neutral-10);
        border-top: 1px solid rgba(0, 0, 0, 0.219);
        display: none;
    }

    header .navbar ul li{
        width: 100%;

    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: var(--color-neutral-10);
    }


    header .navbar ul li ul a:hover{
        background-color: var(--color-neutral-50)
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0%;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}

/* ---------------------------- MAIN CONTEUDO INDEX ---------------------------------------------*/




.content{
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);

}

.imag{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);

}
.img{
    width: 90%;
    height: 70vh;
}

.portada{
    width: 100%;
    height: 90vh;


    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #300303, #07002a, #000000);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}


@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.content h4{
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.content h1{
    font-size: 50px;
    color: #ffffff;
    margin: 30px 0px;
}
.content h3{
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
}

.content a{
    position: absolute;
    display: block;
    background-color: #0091a8;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;

}


.about{
    width: 100%;
    height: 70vh;
    width: 100%;
    padding: 100px 0px;
    background: linear-gradient(45deg, #020006, #130101, #001f1c, #04002bda);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}

.about img{
    width: 500px;
    height: 600px;
}
.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    letter-spacing: 2px;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: #0091a8;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid #01fffb;
    cursor: pointer;
}





.card-automacoes{
    height: 390px;
    width: 335px;
    padding: 20px 35px;
    background-color: #0e0c0c;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

    background: linear-gradient(45deg, #020006, #130101, #001f1c, #04002b21);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}

.title-automacoes h2{
    color: rgb(255, 255, 255);
    background-color: #0000008b;
    padding: 5px;
    font-size: 55px;
    width: 600px;
    border-radius: 5px;
    margin: 30px auto;
    text-align: center;
}

.card-automacoes i{
    font-size: 40px;
    display: block;
    text-align: center;
    margin: 15px 0px;
    color: #01fffb;
}

.card-automacoes h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.card-automacoes .button{
    background-color: #0091a8;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;  
}
.card-automacoes a:hover{
    background-color: transparent;
    border: 2px solid #01fffb;
    cursor: pointer;
}





.service{
    background-image: url(/assents/imagenes/1.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px 0px;
    height: 90vh;

}
.title h2{
    color: rgb(255, 255, 255);
    background-color: #0000008b;
    padding: 5px;
    font-size: 70px;
    width: 600px;
    border-radius: 5px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #0e0c0c;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;


    background: linear-gradient(45deg, #020006, #130101, #001f1c, #04002b21);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #01fffb;

}


.card h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
color: #b8b8b8;
font-size: 16px;
line-height: 27px;
margin-bottom: 25px;
}

.card .button{
    background-color: #0091a8;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;  
}
.card a:hover{
    background-color: transparent;
    border: 2px solid #01fffb;
    cursor: pointer;
}



@keyframes flutuaçao {
    50%, 50%{
      transform: translateY(2px);
    }
    50%{
      transform: translateY(-2px);
    }
  }







  /*----------------- RESWPONSIVO----------------------------------------*/
  @media screen and (max-width:1285px) {

    .content h4{
        font-size: 23px;
    }
    .content h1{
        font-size: 50px;
        margin: 30px 0px;
    }
    .content h3{
        font-size: 20px;
    }
    
    .img{
        width: 85%;
        height: 65vh;
    }
    .imag{
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translateY(-50%);
    
    }


    

.card-automacoes{
    height: 390px;
    width: 335px;
    padding: 10px 25px;
    border-radius: 20px;
    margin: 10px;
  
}

.card-automacoes i{
    font-size: 30px;
    margin: 10px 0px;

}

.pra p{
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
    }
    


.card{
    height: 420px;
    width: 335px;
    padding: 10px 25px;
    border-radius: 20px;
    margin: 10px;

}

.card i{
    font-size: 30px;
    margin: 10px 0px;

}




 }


 @media screen and (max-width:968px) {
    .content h4{
        font-size: 22px;
    }
    .content h1{
        font-size: 49px;
        margin: 30px 0px;
    }
    .content h3{
        font-size: 18px;
    }
    
}


@media screen and (max-width:926px) {
    .title h2{
        font-size: 60px;
        width: 600px;
        border-radius: 5px;
        margin: 25px auto;
    }

    .about img{
        width: 380px;
        height: 500px;
    }
    
    .about-text{
        width: 450px;
    }
}


@media screen and (max-width:865px) {
    .container{
        width: 80%;
        
        margin: 0 auto;

        background-color: var(--color-neutral-0);
        border-radius: 20px;
        box-shadow: 2px 2px 10px #01fffb;
    }

}


/*  fiM INDEX ------------------*/

/*  INICIO BAR ------------------*/

@media screen and (max-width:785px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item{
        display: none;

    }

    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;  

     }
     .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
     }
    .mobile-menu .login-button{
      display: block;
      padding: 1rem 2rem;  
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open{
        display: block;
    }
}




@media screen and (max-width: 768px) {
    #footer-content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }    
#input-group a{
    display: none;
  }
}


@media screen and (max-width:579px) {


}


@media screen and (max-width:430px) {


}


@media screen and (max-width: 449px){

    header .logo{
        font-size: 150%;


    }   
}


@media screen and (max-width: 426px){
    #footer-content{
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem 2rem;
    }

    
#input-group a{
  display: none;
    
}
}















/*------------------------INICIO FOOTER  -------------------------------------*/
footer{
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link{
    text-decoration: none;

}
#footer-content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contacts h1{
    margin-bottom: 0.75rem;
}

#footer-social-media{
    display: flex;
    gap: 2rem;
    margin-top: 2.5rem;
}

#footer-social-media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-social-media .footer-link i {
    font-size: 1.25rem;
}

#footer-social-media .footer-link:hover{
    opacity: 0.8;

}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: var(--color-neutral-30);

}

.footer-list .footer-link:hover{
    color: var(--color-neutral-50);
}

#footer-subcribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-subcribe p{
    color: var(--color-neutral-30) ;
}

#input-group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input-group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input-group a {
    background-color:var(--color-neutral-50);
    font-weight: bold;
    border: none;
    color: #000;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 10px;
    padding: 0.8em;
    transition: all 0.4s;
    cursor: pointer;
}

#input-group a:hover{
    opacity: 0.8;
}

#footer-copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}











/*---------------------------FIM FOOTER  -------------------------------------*/

.container-contrato{
   max-width: 700px;
   padding: 40px;
   background-image: url(/assents/imagenes/Imagem\ do\ WhatsApp\ de\ 2023-03-14\ à\(s\)\ 13.53.28.jpg);
   background-size: 100%;
   background-repeat: repeat-y;
}
.container-contrato > p{
    font-size: 14px;
    font-family: sans-serif;
    color: #151313;

}
.container-contrato{
    border: none;
}
.container-contrato a{
    text-decoration: underline;
    color: #260080;
}

.parrafo{
    font-size: 1rem;
    text-decoration: underline;
    font-weight: 400;
}

.clausula{
    font-size: 1.2rem;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}
.iden{
    margin-left: 20px;
}
